# Redirect semua permintaan HTTP ke HTTPS
RewriteEngine On

# Memastikan URL menggunakan HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Mengarahkan laman utama ke index.php jika tidak ada file lain yang diminta
DirectoryIndex index.php
